:root {
  --card-bg-color: #333; /* Dark grey background */
  --card-text-color: #fff; /* White text color */
  --card-border-color: #444; /* Darker grey border */
  --button-bg-color: #555; /* Dark grey button background */
  --button-text-color: white; /* White text color */
}

.dealCard {
  max-width: 300px; /* Make the card smaller */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px; /* Set a fixed height for the card */
  background-color: var(--card-bg-color) !important;
  color: var(--card-text-color) !important;
  border: 1px solid var(--card-border-color) !important;
  padding: 10px; /* Add padding to ensure content fits within the card */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.dealCardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.dealCardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.dealCardImage {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.dealCardDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.dealCardBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dealCardPercentage {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dealCardTitle {
  text-align: center;
}

.dealCardStore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

.dealCardButton {
  /* Push the button to the bottom */
  width: 100%;
  text-align: center;
  color: var(--button-text-color) !important;
  margin-bottom: 0 !important;

  a {
    color: inherit;
  }
}

.storeIcon {
  width: 20px;
  height: 20px;
}
