@font-face {
    font-family: "Vendite Adoremus";
    src: url(../src/assets/fonts/VeniteAdoremus-rgRBA.ttf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: rgb(250, 253, 255) !important;
    font-family: "Vendite Adoremus" !important;
}

main {
    flex: 1;
}

.navBar {
    ul {
        display: flex;
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        width: 100%;
        padding: 1rem;
    }

    li {
        list-style-type: none;
        margin: 10px;
        cursor: pointer;
    }
}
