@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;700&display=swap');

.layoutBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    background: linear-gradient(180deg, #2c2c2c, #1a1a1a);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: rgb(250, 253, 255) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Georgia, Times, serif !important;
}

p, div {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}



a {
    color: white;
    text-decoration: none;
}

.sortSelect {
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pageSizeSelect {
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
}

main {
    flex: 1;
}

.homeBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    width: 100%;
}

.aboutBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    width: 100%;
}

.searchGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .searchButton {
    margin-top: auto; /* Push the button to the bottom */
  }

.navLinks {
    display: flex;

    li{
        list-style-type: none;
        margin: 0 10px;
    }
}
